<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Apps</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  <link href="styles/main.css" rel="stylesheet" />
</head>
<body>
  <a href="#main-content" class="skip-to-content">Skip to content</a>
  <header class="header">
    <div class="header__inner">
      <button id="menu" class="header__menu">☰</button>
      <h1 class="header__title">Restaurant Apps</h1>
    </div>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" tabindex="0">Home</a></li>
        <li class="nav__item"><a href="#" tabindex="0">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/rachelsola/" target="_blank" tabindex="0">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Welcome to Our Restaurant Website</h1>
      <p class="hero__tagline">This restaurant provides a variety of typical Indonesian foos, it could be some heavy food,
        traditional snacks, and also various types of refreshing drinks.</p>
    </div>
  </div>
  <main id="main-content">
    <section class="content" id="restaurantList">
      <div class="latest">
        <h1 class="latest__label">Restaurant List</h1>
        <div class="post">
          <article class="post-item">
            <img
                class="post-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/41"
                alt="Restaurant 1"
              /> 
              <div class="post-item__content">
                <p class="post-item__date">
                  City : Medan | Ratings : 
                  <a href="#" class="post-item__date__author">Ratings : 4.6</a>
                </p>
                <h1 class="post-item__title">
                  <a href="#">Bring Your Phone Cafe</a>
                </h1>
                <p class="post-item__description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                  atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                  earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                  dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                  reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                  tenetur totam vero.
                </p>
              </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/07"
              alt="Restaurant 2"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Bali | Ratings : 
                <a href="#" class="post-item__date__author">Ratings : 4.6</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Run The Gun</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/29"
              alt="Restaurant 3"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Ternate | Ratings : 
                <a href="#" class="post-item__date__author">4.8</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Pangsit Express</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/38"
              alt="Restaurant 4"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Malang | Ratings : 
                <a href="#" class="post-item__date__author">4.7</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Ducky Duck</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure
                and praising pain was born and I will give you a complete account of the system,
                and expound the actual teachings of the great explorer of the truth,
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                itself, because it is pleasure, but because those who do not know how to pursue
                pleasure rationally encounter consequences that are extremely painful.
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                because it is pain, but because occasionally circumstances occur in which toil and pain
                can procure him some great pleasure.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/40"
              alt="Restaurant 5"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Bali | Ratings : 
                <a href="#" class="post-item__date__author">3.8</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Kafein</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/08"
              alt="Restaurant 6"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Malang | Ratings : 
                <a href="#" class="post-item__date__author">4.6</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Makan Mudah</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/45"
              alt="Restaurant 7"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Surabaya | Ratings : 
                <a href="#" class="post-item__date__author">3.6</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Saya Suka</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure
                and praising pain was born and I will give you a complete account of the system,
                and expound the actual teachings of the great explorer of the truth,
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                itself, because it is pleasure, but because those who do not know how to pursue
                pleasure rationally encounter consequences that are extremely painful.
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                because it is pain, but because occasionally circumstances occur in which toil and pain
                can procure him some great pleasure.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/08"
              alt="Restaurant 8"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Aceh | Ratings : 
                <a href="#" class="post-item__date__author">4</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Gigitan Cepat</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
            </div>
          </article>
          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/04"
              alt="Restaurant 9"
            />
            <div class="post-item__content">
              <p class="post-item__date">
                City : Malang | Ratings : 
                <a href="#" class="post-item__date__author">3.9</a>
              </p>
              <h1 class="post-item__title">
                <a href="#">Fairy Cafe</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure
                and praising pain was born and I will give you a complete account of the system,
                and expound the actual teachings of the great explorer of the truth,
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
                itself, because it is pleasure, but because those who do not know how to pursue
                pleasure rationally encounter consequences that are extremely painful.
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                because it is pain, but because occasionally circumstances occur in which toil and pain
                can procure him some great pleasure.
              </p>
            </div>
          </article>
        </div>
    </section>
  </main>
  <footer>
    Copyright © 2024 - Restaurant Apps
  </footer>
  <script src="scripts/index.js"></script>
</body>
</html>
